body {
    font-family: sans-serif;
      background: #f0f8ff;
      text-align: center;
      padding: 50px;
}

    input {
      padding: 10px;
      font-size: 16px;
      width: 200px;
    }

    .card {
      background: blue;
      border: 2px solid #ccc;
      border-radius: 10px;
      width: 300px;
      height: 450px;
      margin: 30px auto;
      padding: 20px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }
    .card header{
        display: flex;
        justify-content: space-between;
        color: red;
    }
    .card h2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: red;
        font-size: 20px;
    }
    .card img {
      width: 110px;
    }
    
    #searchBtn{
      background-color: red;
      color: white;
      width: 100px;
      height: 25px;

    }